---
import Navbar from '@/components/astro/Navbar.astro';
import Hero from '@/components/astro/Hero.astro';
import AboutSection from '@/components/astro/AboutSection.astro';
import FeaturedProjects from '@/components/astro/FeaturedProjects.astro';
import ContactSection from '@/components/astro/ContactSection.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Home | melmayan.fr" description="Developer portfolio and blog">
  <Navbar />
  <main>
    <Hero />
    <AboutSection />
    <FeaturedProjects />
    <ContactSection />
  </main>
</Layout>
